* {
  box-sizing: border-box;
}

#demo .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 90vh;
}

.car-caption {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 100px;
  font-style: italic;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.nav-item .nav-link {
  font-size: 35px;
  font-family: "Bebas Neue", cursive;
  color: black;
}
.nav-item .nav-link:hover {
  color: white;
}
.nav-item:hover {
  border-radius: 15px;
  background-color: #ffbf50;
}

@media only screen and (max-width: 720px) {
  #demo .carousel-item img {
    height: 50vh;
  }
}

#section-items {
  background-color: grey;
  height: 150px;
}
