* {
  box-sizing: border-box;
}

#demo .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 90vh;
}

.car-caption {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 100px;
  font-style: italic;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.nav-item .nav-link {
  font-size: 35px;
  font-family: "Bebas Neue", cursive;
  color: black;
}
.nav-item .nav-link:hover {
  color: white;
}
.nav-item:hover {
  border-radius: 15px;
  background-color: #ffbf50;
}

@media only screen and (max-width: 720px) {
  #demo .carousel-item img {
    height: 50vh;
  }
  .navbar {
    display: none;
  }
}

#section-items {
  height: 250px;
}
#section-heading {
  font-family: "Bebas Neue", cursive;
  color: black;
  text-align: center;
  font-size: 35px;
}

#section-heading-main {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}
.heading-hr {
  margin-left: 10px;
  border: 5px solid #ffbf50;
}
.card-body {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}

#match-card {
  background-color: #ffbf50bd;
}

.parallax-cricket {
  /* The image used */
  background-image: url("./cricparallax.jpg");

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-football {
  /* The image used */
  background-image: url("./footparallax.jpg");

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-valorant {
  /* The image used */
  background-image: url("./valorantparallax.png");

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
